.App {
  text-align: center;
}

.homeImage{
  width: 80%;
  border-radius: 20%;
  padding: 5%;
}

.HiImage{
  width: 30%;
}

.flexEnd{
  display:flex;
  justify-content: flex-end;
}
.flexSpaceAround{
  display:flex;
  justify-content: space-around;
}

.flexContainer{
  display:flex;
  flex-basis: auto;
}

.flexEnd{
  display:flex;
  align-items: center;
}

.padding{
  padding: 3%;
}

.left-padding{
  padding-left: 2%;
}

.right-padding{
  padding-right: 8%;
}

.titleColor{
  color: #fd4f9f;
}

.color-gray{
  color:#666666;
}

.color-blue{
  color: #471ca8;
}