.userChat{
    padding: 10px;
    display: flex;
    align-items: center;
    gap:10px;
    color: #666666;
    cursor: pointer;
}

.imgChat{
    width: 50px;
    border-radius: 50%;
    object-fit: cover;

}

.userChat:hover{
    background-color: #c0c1c4;
    color:white;
}

.userChatInfo {
    display: flex;
    flex-direction: column;
}

.nameInfo{
    font-size: 18px;
    font-weight: bold;
}

.lastMessage{
    font-size: 15px;
}