.chat{
    background-color: #D3D8DE;
    height: 100vh;
    display: flex; 
    align-items: center;
    justify-content: center; 
    
    .container{
        border: 1px solid white; 
        border-radius: 10px;
        width: 65%;
        height: 80%;
        display: flex; 
        overflow: hidden;
        
        .sidebar{
            flex:1; 
            border-right: 1px solid #97A7CF;
            background-color: white ;
        }
        .chatC{
            flex: 2; 
        }
    }
}