.App {
  text-align: center;
}

.alignItems{
  align-items: center;
}

.borderRadius{
border-radius: 3%;
}

.flexEnd{
  display:flex; 
  align-items: center;
}

.flexSpaceAround{
  display:flex; 
  justify-content: space-around;
}

.flexSpaceBetween{
  display:flex; 
  justify-content: space-between;
}

.flexSpaceEvenly{
  display:flex;
  justify-content: space-evenly;
}

.flexContainer{
  display:flex; 
  flex-basis: auto;
}

.flexColumn{
  display:flex;
  flex-direction: column ;
}

.cont-main{
  display:flex;
  flex-direction: column ;
  background-color:  #94accc;
  width: 100%;
  height: 100vh;
  align-items: center;
  border-radius: 3%;

}

.flexStart{
  display:flex; 
  align-items: flex-start;
}

.dimensions{
  width: 100%;
  align-items: center;
}

.width{
  width: 47%;

}

.padding{
  padding: 10%;
}

.left-padding{
  padding-left: 2%;
}

.right-padding{
  padding-right: 8%;
}

.titleColor{
  color: #fd4f9f; 
}

.color-white{
  color: #ffffff;
}

.b-color-purple{
  background-color: #97A7CF;
}

.color-purple{
  color: #97A7CF;
}

.cont-login{
  height: 200px;
  padding-top: 50px;
  display: flex;
  justify-content: center;


}

.cont-txt{
  margin-left: 40px;
}

.cont-title{

}

.cont{
  padding-top: 150px;
  width: 70%;
 justify-content: space-evenly;
}
