.navImgChat{
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    padding-left: 12px;
}

.logo{
    font-weight: bold;
    color: #fd4f9f;
    padding: 10px;
    font-size: 20px;
}


.cont-name{
    align-items: center;
    display: flex;
}

.name{
    color: #fd4f9f;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.cont-actions{
    display:flex; 
    padding: 4px;
    position: relative;
}

.action-menu{
    position: absolute; 
    padding: 5px 5px;
    list-style-type: none;
    background-color: #6e80af;
    border-radius: 5px;
    left: 0;
    top: 30px;
}




